:root {
  --bg-white: #F5F5F5;
  --bg-accent-light: #6397CF;
  --bg-accent-dark: #27488F;
  --bg-accent: #316FB4;
  --bg-dark: #1F1F1F;
  --text-light: #F5F5F5;
  --text-dark: #1F1F1F;
  --text-links: #6397CF;
  --text-links-hover: #316FB4;
}

.dark-mode {
  --bg-white: #070C17;
  --bg-accent-light: #2A517E;
  --bg-accent: #1C3B5F;
  --bg-accent-dark: #111F3B;
  --bg-dark: #020407;
  --text-light: #070C17;
  --text-dark: #F5F5F5;
  --text-links: #6397CF;
  --text-links-hover: #316FB4;
}

a {
  color: var(--text-links);
}

.backg-accent-light {
  background-color: var(--bg-accent-light);
}

.backg-accent-dark {
  background-color: var(--bg-accent-dark);
  color: var(--text-light);
}

.backg-accent {
  background-color: var(--bg-accent);
  color: var(--text-light);
}

.backg-dark {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.backg-darker {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.text-dark {
  color: var(--text-dark);
}

html {
  scrollbar-color: var(--text-light) var(--bg-dark);
}

body {
  background-color: var(--bg-white);
  color: var(--text-dark);
}

.no-deco-links {
  text-decoration: none;
  color: var(--text-dark) !important;
}

.no-deco-links .no.deco-text {
  text-decoration: none;
  color: var(--text-dark) !important;
}

.no-deco-links-light {
  text-decoration: none;
  color: var(--text-light) !important;
}

.no-deco-links-light .no.deco-text-light {
  text-decoration: none;
  color: var(--text-light) !important;
}

.backg-header {
  background-color: var(--bg-accent-light);
}

.header-content {
  background-color: #00000000;
}

.dropdown-menu {
  color: var(--text-light);
}

.dropdown-item {
  color: var(--text-light);
}

.textc-dark {
  color: var(--text-dark);
}

.textc-light {
  color: var(--text-light);
}

.textc-smallheader {
  color: inherit;
}

.textc-blue {
  color: var(--text-links-hover) !important;
}

footer {
  color: var(--text-light) !important;
}

footer a {
  color: var(--text-links);
}

footer a :hover {
  color: var(--text-links-hover);
}

footer p {
  color: var(--text-light);
}

html {
  scrollbar-width: thin;
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) or (-webkit-backdrop-filter: blur()) {
  .header-content {
    background-color: #ffffff40 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 1em !important;
    backdrop-filter: blur(1px) !important;
    -webkit-backdrop-filter: blur(1px) !important;
  }
  .backg-header {
    background-image: url("../img/schule2.jpg") !important;
    background-attachment: local !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

header {
  padding-top: 4em;
  padding-bottom: 4em;
}

section {
  padding-top: 0.5em;
  padding-bottom: 2em;
}

section img {
  margin-top: 2em;
  width: 75%;
}

section video {
  margin-top: 2em;
  width: 75%;
}

section .img-rassismus-small {
  width: 75%;
}

section .img-digitale-schule {
  width: 60%;
}

section h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

section h3 {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

footer {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

footer a {
  text-decoration: none;
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) or (-webkit-backdrop-filter: blur()) {
  .textc-smallheader {
    color: gray !important;
  }
}

.navbar-img {
  width: 3.385em !important;
}

.mainpage-video {
  width: 100% !important;
  height: 20em;
}

@media only screen and (max-width: 1200px) {
  .mainpage-video {
    width: 100% !important;
    height: 15em;
  }
}

.mainpage-rundgang-img {
  width: 75.5%;
}

.rundgang-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.rundgang-container div {
  height: 100%;
}

.rundgang-container img {
  margin-top: auto !important;
}

.margin-top-1em {
  margin-top: 1em;
}

.aktuell-img {
  margin-top: 0em !important;
  height: 5em;
  width: auto;
}

@media only screen and (max-width: 770px) {
  .aktuell-img {
    height: 4em !important;
    width: auto;
  }
}

.p-no-margin-bottom {
  margin-bottom: 0em !important;
}

.aktuell-container {
  width: 100%;
}

@media only screen and (max-width: 770px) {
  .aktuell-container {
    width: 50%;
  }
}

.aktuell-toggler {
  visibility: unset;
}

@media only screen and (min-width: 770px) {
  .aktuell-toggler {
    visibility: collapse !important;
  }
}

#aktuell-collapse-1 {
  visibility: visible;
}

.hr-no-margin {
  margin-top: 0.5em !important;
  margin-right: 0em !important;
  margin-bottom: 0.5em !important;
  margin-left: 0em !important;
}

.margin-small {
  margin-top: 0.5em !important;
  margin-right: 0em !important;
  margin-bottom: 0em !important;
  margin-left: 0em !important;
}

.margin-none {
  margin-top: 0em !important;
  margin-right: 0em !important;
  margin-bottom: 0em !important;
  margin-left: 0em !important;
}

.mainpage-liste {
  background-color: #7878e180;
}

.width-100 {
  width: 100%;
}

.padding-medium {
  padding: 0.475em;
}
/*# sourceMappingURL=styles.css.map */