<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" httpResponseStatus="Temporary" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".ico" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
