body {
    //padding-left    : 1em;
    padding-top       : 0.5em;
    //padding-bottom  : 1em;
    padding-right     : 0.5em;
    background-color  : whitesmoke;
    color             : #343a40;
}

.padding-0_5em {
    padding-left    : 0.5em;
    //padding-top   : 0.5em;
    //padding-bottom: 0.5em;
    padding-right   : 0.5em;
}


footer {
    background-color: #343a40;
    color           : whitesmoke;
}

.red-text {
    color: darkred;
}